
@{
    ViewData["Title"] = "Enter your name";
}

<div class="row">
    <div class="col-md-5 col-md-offset-4">
        <h3>Enter your name first</h3>
        <hr />
        <form asp-action="SportComparisonVoting">
            <div class="form-group">
                <input id="personName" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span> Confirm
                </button>
            </div>
        </form>
    </div>
</div>


